<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body data-ng-app="st-angular">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div data-ng-view></div>
    <script src="/javascripts/angular.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.min.js"></script>
    <script src="/javascripts/main.js" type="text/javascript"></script>
  </body>
</html>
